.card{
    box-sizing: border-box;
    border: none;
    margin-top: 50px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}


/* 禁止拉伸代码框 */
textarea{
    resize: none;
}

.card-body{
    padding: 30px;
}

/* 自动换行 */
pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}