.card{
    border: none;
    margin-top: 50px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

textarea{
    resize: none;
}

label{
    font-size: small;
}

.card-body{
    padding: 15px;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}