<html>
    <head>
        <meta charset="utf8">
        <title>代码提交平台-代码展示</title>
        <link rel="styleSheet" type='text/css' href="/static/css/bootstrap.min.css">
        <link rel="styleSheet" type="text/css" href="/static/css/common.css">
        <script src="/static/js/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h4><b>代码提交平台-代码展示</b></h4>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <a href="/"><span>主页</span></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="/userSet"><span>个人设置</span></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="/logOut/"><span>账号注销</span></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                {% for code in codes %}
                <div class="col-3">
                    <a class="card card-text text-center" href="/showCode/{{code.id}}"><b>{{ code.title}}</b></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>